html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/public/css/main.css")
        title hello world
    body
        p hello world
        #main
        script(src="public/js/jquery-2.1.4.min.js")
        script(src="public/dist/index.build.js")